{% extends "main/base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}{{object.title}}{% endblock %}
{% block meta_description %}{{object.meta_description}}{% endblock %}
{% block og_title %}{{object.title}}{% endblock %}
{% block site_name %}{{object.title}}{% endblock %}
{% block base_url %}{{base_url}}{% endblock %}
{% block og_logo %}{{base_url}}static/logo.png{% endblock %}
{% block og_description %}{{object.meta_description}}{% endblock %}
{% block content %}

<section class="object_not_found">
  <div class="container">
    <div class="row">
    <div class="col-sm-12 ">
    <div class="col-sm-10 col-sm-offset-1  text-center">
    <div class="contant_box_404">
    <h3 class="h2">Жодного об'єкту не знайдено :( </h3>

    <p>Спробуйте пошук за іншими критеріями !</p>

    <a href="{{base_url}}" class="link_404">На говолну</a>
  </div>
    </div>
    </div>
    </div>
  </div>
</section>

{% endblock %}
{% block js %}

{% endblock %}