{% extends "main/base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}{{page.title}}{% endblock %}
{% block meta_description %}{{page.meta_description}}{% endblock %}
{% block og_title %}{{page.title}}{% endblock %}
{% block site_name %}{{page.title}}{% endblock %}
{% block base_url %}{{base_url}}{% endblock %}
{% block og_logo %}{{base_url}}static/logo.png{% endblock %}
{% block og_description %}{{page.meta_description}}{% endblock %}
{% block content %}

		<section>
			<div class="container">
				<div class="row no-gutters">
				<p class="description">Опис</p>
				{% autoescape off %}
					{{page.description}}
				{% endautoescape %}
				</div>
			</div>
		</section>

{% endblock %}
{% block js %}
{% endblock %}